<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet"
                    href="static/css/style.css">
</head>
<body>
<h1>Миссия Колонизация Марса</h1>
<h4 class="my_still">И на Марсе будут яблони цвести!</h4>
<h4 class="skill">Фамилия: {{surname}}</h4>
<h4 class="skill">Имя: {{name}}</h4>
<h4 class="skill">Образование: {{education}}</h4>
<h4 class="skill">Профессия: {{profession}}</h4>
<h4 class="skill">Пол: {{sex}}</h4>
<h4 class="skill">Мотивация: {{motivation}}</h4>
<h4 class="skill">Готовы остаться на марсе: {{ready}}</h4>
</body>
</html>